body{
    background-color:#FBB080;
}

h1{
    font-size: 24px;
}

h2{
    font-size: 16px;
}

img{
    height:20px;
    width:20px;
}


#search{
    width:60%;
    margin: 0 auto;
    text-align: center;
}

#search h2{
    
}

/*
.answer{
    float: right;
}
*/


.container{
    background-color: ghostwhite;
    background-image: url(../images/books.jpg);
    padding: 0px 0px 4px 0px;
}

.ap{
    float:left;
    width:48%;
    margin-left: 1%;
    margin-right: 1%;
    height: 150px;
    margin-top:4px;
    overflow: auto;
    opacity: 0.9;
}

.lp{
    background-color:#FDF1EB;
}

.lp h3{
    color:#F3A781;
    margin-top:5px;
    font-family: "Georgia";
}

.bp{
    float:left;
    width:48%;
    margin-left: 1%;
    margin-right: 1%;
    height: 150px;
    margin-top:4px;
    overflow: auto;
    opacity: 0.9;
}

.rp{
    background-color:#FEE8FD;
}

.rp h3{
    color:#E04B4C;
    margin-top:5px;
    font-family: "Georgia";
}

.popup {
    display: none;
    position: fixed;
    top: 300px;
    left: 20%;
    width:600px;
    background-color: #fff;
    overflow: hidden;
    z-index: 101;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 100;
}

.like,.delete{
    font-size: 10px;
}

.like1 a:link{
    color:blue;
}
.like1 a:visited{
    color:blue;
}

.name{
    color:black;
}